 @import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-sm: 12px;
  --font-md: 16px;
  --font-lg: 25px;
  --color-light: #e9d9d9;
  --color-dark: black;
}

body{
  /*height: 100vh;
  width: 100vw;*/
  background-color: black;
  font-family: 'Archivo', sans-serif;
}

sup{
  color: red;
  font-size: 1rem;
}

.greeting{
  color: white;
  padding: 50px;
  font-size: 1.5rem;
}

.header h2{
  padding: 20px;
  color: var(--color-light);
  text-align: center;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.video-details{
  display: none;
  color: var(--color-light);
  width: 100%;
  font-size: 0.85rem;
  padding: 5px;
}

.video-details h4{
  color: white;
  margin : 0;
  padding: 7px;
  background-color: #FF0000;
}

.video-details p{
  margin: 0;
  padding: 0;
  padding-top: 7px;
  font-size: 1rem;
}

.video-details div{
  padding-top: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: red;
  padding: 5px;
  margin-top: 5px;
  width: fit-content;
  border: 1px solid red;
}

.player-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width:  100%;
}

.player-wrapper{
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 50%;
  padding-top: 25px;
  height: 0;
}

.player-wrapper iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.description-container{
  display: none;
  padding: 5px;
  width: 100%;
}

.description-container h3{
  
}

.description-content-wrapper{
  width: 100%;
  height:100px;
  overflow-y: scroll;
}

.description-content-wrapper::after{
  content: 'Show More';
  top   :  0;
  left  :  0;
  right :  0;
  bottom:  0;
}

.video-details{
  margin: 10px;
}

.description-title{
  color: var(--color-light);
  padding: 0px 0px 10px 0px;
}

.description{
  color: var(--color-light);
  font-size: 0.75rem;
}

/* width */
::-webkit-scrollbar {

  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

@media only screen and (max-width: 720px) {
  .main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}